<!DOCTYPE html>
<html>
  <head>
    <title>ZomatoCloneFt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav style="border-bottom: 1px solid black;">
      <% if user_signed_in? %>
        <span>Hello <%= current_user.email %></span>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Login", new_user_session_path  %>
        <%= link_to "Sign up", new_user_registration_path  %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
